---
import Customer from "./Customer.astro";

import Alpine from "alpinejs";

const customers = [
    {
        'name' : 'AdRoll',
        'logo' : ' ',
        'color' : '#00A8E0',
        'tailwindCSS' : 'bg-[#00A8E0]'
    },
    {
        'name' : 'Airbnb',
        'logo' : '/images/logo-Airbnb.png',
        'color' : '#FF5A5F',
        'tailwindCSS' : 'bg-[#FF5A5F]'
    },
    {
        'name' : 'Peloton',
        'logo' : '/images/logo-Peloton.png',
        'color' : '#000',
        'tailwindCSS' : 'bg-[#000]'
    },
    {
        'name' : 'Evernote',
        'logo' : '/images/logo-Evernote.png',
        'color' : '#292929',
        'tailwindCSS' : 'bg-[#292929]'
    },
    {
        'name' : 'Samsung',
        'logo' : '/images/logo-Samsung.png',
        'color' : '#1428A0',
        'tailwindCSS' : 'bg-[#1428A0]'
    },
    {
        'name' : 'Nginx',
        'logo' : '/images/logo-Nginx.png',
        'color' : '#00AA4E',
        'tailwindCSS' : 'bg-[#00AA4E]'
    },
    {
        'name' : 'PagerDuty',
        'logo' : '/images/logo-PagerDuty.png',
        'color' : '#5DBD5F',
        'tailwindCSS' : 'bg-[#5DBD5F]'
    },
    {
        'name' : 'WholeFoods',
        'logo' : '/images/logo-WholeFoods.png',
        'color' : '#000',
        'tailwindCSS' : 'bg-[#000]'
    },
    {
        'name' : 'ATT',
        'logo' : '/images/logo-ATT.png',
        'color' : '#00A8E0',
        'tailwindCSS' : 'bg-[#00A8E0]'
    }
];
---

<section>
    <ul x-data="customers" class="grid grid-cols-3" id="customers-list">
        {customers.map((company) => 
            <Customer name={company.name} logoUrl={company.logo} color={company.color} class={company.tailwindCSS}>
                <img src={company.logo} alt={company.name + " logo"} />
            </Customer>
        )}

        <!--
            Testimonal Highlight
            - content changes based on user clicks in above company list
            - placement as the last item in the list is intentional for layout purposes
            - TODO: is there a more elegant way (i.e. init function) to set the default content on page load? (current limitation is that updateTestimony logic relies on a Alpine-specific magic property that's only available after the DOM renders)
        -->
        <li class="block row-start-1 col-start-2 col-span-2 row-span-2 bg-gray-300">
            <div id="customer-testimony">
                <h1 id="customer-company">AdRoll</h1>
                <p id="customer-quote">Datadog has been instrumental in managing our real-time infrastructure, globally distributed in 5 data centers across hundreds of instances, and thousands of different metrics and dimensions for each host. I can't believe there was a time when we didn't have Datadog.</p>
                <p id="customer-name">Valentino Volonghi</p>
                <p id="customer-title">Chief Technology Officer</p>
                <a class="text-datadogPurple hover:underline" href="#">See More Stories</a>
            </div>
        </li>
    </ul>
</section>

<script>
    document.addEventListener('alpine:init', () => {
        Alpine.data('customers', () => ({ 
            updateTestimony() {
                // identify chosenCompany via clicked element's ID
                const chosenElement = this.$el;
                const chosenCompany = chosenElement.id;

                // identify testimonialCompany via current testimonal shown
                let testimonialCompany = document.getElementById('customer-company').innerText;
                console.log('testimonialCompany = ', testimonialCompany);

                // store testimonialCompany customer list element
                const swapElement = document.getElementById(testimonialCompany);

                console.log('chosenCompany = ', chosenCompany, ' testimonialCompany = ', testimonialCompany);

                // use chosenCompany to retrieve corresponding data in testimonials object and update the DOM (all elements are within the Testimonal Highlight)
                document.getElementById('customer-company').innerHTML = chosenCompany;
                document.getElementById('customer-quote').innerHTML = testimonials[chosenCompany].quote;
                document.getElementById('customer-name').innerHTML = testimonials[chosenCompany].name;
                document.getElementById('customer-title').innerHTML = testimonials[chosenCompany].title;

                console.log('chosenElement = ', chosenElement, ' swapElement = ', swapElement);

                // in the customers list, swap in "old" company (i.e. testmiony was show) for "new" company (i.e. selected company)

                // add a copy of the chosenElement to the DOM (will be needed for future swaps; CSS will hide elemet if it's the first <li> in the group)
                const chosenCopy = chosenElement.cloneNode(true);
                document.getElementById('customers-list').prepend(chosenCopy);

                // replace original chosenElement with testimonalCompany customer list element
                chosenElement.replaceWith(swapElement);

                // update testimonalCompany var
                testimonialCompany = chosenCompany;
            }
        }))
    })

    const testimonials = {
        "Acme": {
            "quote" : "A rave review",
            "name" : "Firstname Lastname",
            "title" : "CEO"
        }, 
        "AdRoll": {
            "quote" : "Datadog has been instrumental in managing our real-time infrastructure, globally distributed in 5 data centers across hundreds of instances, and thousands of different metrics and dimensions for each host. I can't believe there was a time when we didn't have Datadog.",
            "name" : "Valentino Volonghi",
            "title" : "Chief Technology Officer"
        },
        "Airbnb": {
            "quote" : "We use Datadog and a lot of whatever-as-a-service, in large part because their offerings continue to get better, even when we're not looking",
            "name" : "Ben",
            "title" : "Site Reliabilty Engineer"
        },
        "Peloton": {
            "quote" : "We have a very data-driven platform, so a lot of what we're doing is searching through a library of content for our users. Just looking through the code, it's not always obvious how that's going to work.",
            "name" : "Chris Mohr",
            "title" : "Software Engineer"
        },
        "Evernote": {
            "quote" : "a rave review from Evernote",
            "name" : " ",
            "title" : " "
        },
        "Samsung": {
            "quote" : "a rave review from Samsung",
            "name" : " ",
            "title" : " "
        },
        "Nginx": {
            "quote" : "a rave review from Nginx",
            "name" : " ",
            "title" : " "
        },
        "PagerDuty": {
            "quote" : "a rave review from PagerDuty",
            "name" : " ",
            "title" : " "
        },
        "WholeFoods": {
            "quote" : "a rave review from WholeFoods",
            "name" : " ",
            "title" : " "
        },
        "ATT": {
            "quote" : "a rave review from ATT",
            "name" : " ",
            "title" : " "
        }
    };
</script>